.link:hover{
    text-decoration: none;
    color: black;
}
.products{
    background: #f4f4f4;
}
.popular-product-container{
    margin:0 0 2rem 0;
}
.popular-product-container .product-swiper{
    margin:10px !important;
        padding-left: 20px !important;  
        padding-right: 10px !important;
        left: 2% !important;
}
.popular-product-container .swiper-button-next{
    right: var(--swiper-navigation-sides-offset,-5px);
}
.popular-product-container .swiper-button-next:after, .popular-product-container .swiper-button-prev:after{
    font-size: 25px !important;
    color: #aeaeae;
    font-weight: 900;
    /* border: 1px solid grey; */
}
.popular-product-container .swiper-button-prev:after{
    margin-left: -30px !important;
}
.popular-product-container .swiper-button-disabled{
    cursor: not-allowed !important;
    pointer-events: visible !important;
}

.product-container{
    display: grid;
    max-width: 100%;
    margin: 0 auto;
    padding-left:4.3%;
    overflow: hidden;
}
.product-card{
    padding:1rem 0.5rem;
}
.product-item{
    background: white !important;
    position: relative;
    display: flex;
    flex-direction: column;
    width:225px;
    min-height: 300px;
    min-width: 200px;
    overflow: hidden;
    border: 1px solid #e7e8eb;
}
.product-item:hover{
    box-shadow: 2px 0px 12px -1px rgb(0 0 0 / 14%);
    -webkit-box-shadow: 2px 0px 12px -1px rgb(0 0 0 / 14%);
    border:none;
    transition: 0.2s ease-in-out;
}
.discount-flag {
    z-index: 2;
    color: #fff;
    background: #ff5e36;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 12px;
    padding: 0 4px;
    text-align: center;
}
.product-label{
    padding-top:  24px;
    padding-bottom: 20px;
    min-height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-detail{
    text-align: left;
    color: black;
    padding: 10px 5px;
    border-radius: 10px;
    max-width: 95%;
    margin: 0 auto 2%;
    width:100%;
}
.product-title{
    font-size: 18px;
    color: black;
}

.product-price-list{
    padding-bottom: 0.3rem;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 0.8rem;
}
.product-disPrice{
    margin-right: 8px;
    font-size: 15px;
    color: #09a849;
}
.product-discount{
    color: #05a143;
    font-weight: 100;
    padding-right: 0.5rem !important;
    font-size: 15px;
}
.product-price{
    font-weight: 500;
    color:#616161;
    line-height: 21px;
    font-size: 13px;
    text-decoration: line-through;
}
.product-cart{
    display: flex;
    align-items: center;
    padding:12px 0 0;
    width:100%;
    border-bottom: 1px solid #e3e3e3;
}
.cart-button{
    background:#ff5e36;
    line-height: normal;
    padding: 8px 12px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}
.cart-text{
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 600px){
    .product-container{grid-template-columns: repeat(2,1fr);}
    .product-item {width: 80%;}
}
@media (max-width: 768px) {
    .product-container { grid-template-columns: repeat(2,1fr); }
    .product-item {margin-top: 10px;}
}
@media (min-width: 768px) {
    .product-container { grid-template-columns: repeat(3,1fr); }
    .product-item { width: 200px;}
}
@media (min-width: 900px) {
    .product-item {width: 98%;}
}
@media (min-width: 1200px) {
    .product-container { grid-template-columns: repeat(4,1fr); }
    .product-item {width: 95%;}
}
@media (min-width: 1450px) {
    .product-container { grid-template-columns: repeat(5,1fr); }
  }

@media (min-width: 1800px) {
    .product-item {width: 100%;}
  }