.rs-slider {
    margin-bottom: 30px;
    margin-top: 30px;
}
.rs-slider-progress-bar{
    background-color: #ff5e36 !important;
}
.rs-slider-handle{
    top: -120% !important;
    text-align: center;
    padding: 3px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.rs-slider-handle .active{
    box-shadow:0 0 0 8px rgba(255, 157, 52, 0.207) !important;
}
.rs-slider-handle:hover::before{
    box-shadow:0 0 0 8px rgba(255, 157, 52, 0.207) !important;
}
.rs-slider-handle::before {
    width:15px !important;
    height:15px !important;
    border: 2px solid #ff5e36 !important;
}
.rs-slider-dragging .rs-slider-handle, .rs-slider-dragging .rs-slider-handle:hover {
    box-shadow: none !important;
    transform: scale(1.2);
}
