/*----------common--------------*/

.brand, .categories, .products{
    margin-top: 2rem;
    color: black;
    font-family: MetropolisSB, sans-serif;
    width: 90% !important;
    background: white;
    margin-left:5% !important;
    padding-top: 2rem;
    border: 1px solid #dcdde1;
} 
.categories-container, .product-container{
    margin-top: 1rem;
    margin-bottom: 2rem;
}


.services{
    margin:40px 5%;
    padding: 1rem 0;
    background-color: #dcdcdc;
    width: 90%;
    color:rgb(0, 0, 0) ;
    border-radius:5px
}
.services-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 100px;
}
.services-inner{
    display: flex;
    flex-direction: row;
    gap:0.9rem;
    align-items: center;
}
.service-title{
    font-family: MetropolisSB, sans-serif;
    font-size: 1.2rem;
    padding-top: 4px;
}

@media (max-width: 1000px){
    .categories,.brand,.products{
        width: 95% !important;
        margin-left:2.5% !important;
    }
    .services{
        margin-left:2.5% !important;
        width: 95%;
    }
    .services-wrapper{
        margin: 0 30px;
    }
    .service-title{
        font-size: 0.8rem;
    }
}
@media (max-width:801px){
    .services-wrapper{
        margin: 0 15px;
    }
    .services-inner{
        gap: 0.5rem;
    }
    .service-img{
        width:26px;
        height: 22px;
    }
}
@media (max-width: 1000px){

}
