.sub-section{
    padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  display: block;
  color: #3a3b45;
  text-decoration: none;
  border-radius: 0.35rem;
  white-space: nowrap;
}
.sub-section:hover{
    background-color: #eaecf4;
}
.sub-section:active{
    background-color: #dddfeb;
    color: #4e73df;
  font-weight: 700;
}

