@font-face {
    font-family: MetropolisL;
    src: url(../../assets/fonts/metropolis.light.otf);
}

@font-face {
    font-family: MetropolisR;
    src: url(../../assets/fonts/metropolis.regular.otf);
}

button {
    border: none;
    background: none;
}

.site-header {
    position: sticky;
    background-color: white;
    box-shadow: 0 1px 5px grey;
    z-index: 100;
}
.master-header{
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 100px 5px 100px;
}
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header-logo {
    flex: 15%;
    display: block;
    position: relative;
    margin: 0;
}

.logo {
    transition: opacity 0.2s ease-in-out;
    display: block;
    width: max-content;
    max-width: 100%;
    height: auto;
}

.search-box {
    height: 40px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background: #eaeaea;
    border-radius: 30px;
    align-items: center;
    margin: 0 1rem;
    flex: 50%;
}

.search-box input {
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
}

.search-box .icon {
    margin-right: 20px;
    border: none;
    background: none;
}

.header-secondary-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 15%;
}

.header-icon-list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.navlink,
.navlink:hover {
    color: black;
}

.cart-count {
    background: #ff5e36;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.8rem;
    top: 16px;
    right: 185px;
    position: absolute;
}

.link-title {
    margin-right: 15px;
    display: inline-block;
    padding-bottom: 0.2rem;
    position: relative;
    color: black;
}

.link-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: black;
    transition: width 0.25s ease-out;
}

.link-title:hover::before {
    width: 100%;

}

.header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*------------------------------------------*/
.dropdown-megamenu{
    position: absolute;
    left: -200% ;
    width: max-content;
    height: fit-content;
    background: white;
    padding: 30px;
    margin: 0;
    z-index: 1000;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, .175);
    border-radius: 5px;
}
.menu-title {
    font-size: 15px;
    font-family: MetropolisSB, sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #495057;
}
.menu-item{
    text-align: left;
}
.menu-list {
    list-style: none;
    padding-left: 0;
    display: block;
    font-size: 13px;
    font-family: MetropolisL;
    color: #495057;
}

.menu-list>li {
    margin-bottom: 8px;
}

/*-----------------------*/
.account-drop-item {
    padding: 0.2rem 0;
}

.account-drop-item:hover {
    background: #f4f4f4;
}

.account-drop-item a {
    color: black;
}

.account-drop-item a:hover {
    text-decoration: none;
    color: black;
}


/*-------------mobile header -------------------*/
.mobile-header{
    display: none;
}
.mobile-header-inner{
    width:98%;
    left:1%;
    position: relative;
    padding: 10px 20px 10px 20px;
}
.mobile-header-top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px 10px 20px;
}
.mobile-header-logo{
    position: relative;
}
.mobile-header-top .header-secondary-links{
    flex-grow: 0 !important;
    flex-basis: 0;
    max-width: 100%;
}
.mobile-header-top .cart-count{
    background: #ff5e36;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 0.55rem;
    top: 15px;
    right: 125px;
    position: absolute;
}
.site-search .search-box{
    margin: 0;
}

.dropmenu{
    display: block !important;
    width: 100%;
    padding: 0.25rem 1.5rem !important;
    clear: both;
    font-weight: 400 !important;
    font-size: 13px !important ;
    color: #3a3b45 !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent !important;
    border: 0 !important;
    height: 30px !important;
}
.Dropdown_dropdown__O0vQW .Dropdown_button__9GaOH.Dropdown_button-secondary__hOWYK:focus{
    box-shadow: none !important;
}

@media screen and (max-width:1199px){
    .master-header{
        display: none;
    }
    .mobile-header{
        display: block;
    }
}